*{
    padding:0px !important;
    color:goldenrod;
    font-weight: bold;
}
#hotel-wrapper{
    margin: 0px 30px;
    margin-right: 10px !important;
}
.hotel-info img{
    width: 100%;
    margin:0px 20px;
    border: 2px solid gray !important;
    border-radius: 7px;
}

