body{
    background-image:url(../../img/Image/Rectangle\ 1.png);  
}
.wrapper{
    margin: 20px !important;
 }
#destination-detail p{
    font-weight: bold;
    color:black;
}
#destination-detail h2{
    font-weight: bold;
}
#destination-images button{
    background-color: transparent !important;
}
.img{
    width: 200px ;
}
.img:hover{
    border: 3px solid orange !important;
    border-radius: 15px !important;
}
.img{
    border-radius: 15px;
}
.img-title{
    position: relative;
    top: -50px;
    margin-left: 35px;
    color:white;
}
.right-arrow{
    margin-right: 525px !important;
}
.left-arrow{
    margin-right: 100px !important;
}